@import '../../global.scss';

.topbar {
  background-color: white;
  color: $mainColor;
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;

  .wrapper {
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      .logo:hover,
      .logo:active {
        color: $mainColor;
        text-decoration: none;
      }

      .logo:visited,
      .logo:link {
        color: inherit;
        text-decoration: none;
        font-size: 4rem;
        font-weight: 700;
      }
    }
  }
}
