@import '../../global.scss';

.topbar {
  background-color: white;
  color: $mainColor;
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;

  transition: all 1s ease;

  .wrapper {
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo:visited,
      .logo:link {
        //margin-right: 4rem;

        color: inherit;
        text-decoration: none;
        font-size: 3.5rem;
        font-weight: 700;
      }

      .logo:hover,
      .logo:active {
        color: red;
        text-decoration: none;
      }

      .itemContainer {
        margin-left: 3rem;
        display: flex;
        align-items: center;

        .icon {
          font-size: 1.8rem;
          margin-right: 0.5rem;
        }

        span {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }

      .itemContainer:last-child {
        margin-right: 0;
      }
    }

    .right {
      .hamburger {
        //background-color: lightblue;

        width: 3.2rem;
        height: 2.5rem;

        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }

      span {
        display: inline-block;
        width: 100%;
        height: 0.3rem;
        background-color: $mainColor;

        transition: all 1s ease;
      }

      .line1 {
        transform-origin: left top;
      }

      .line2 {
      }

      .line3 {
        transform-origin: left bottom;
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: white;

    .hamburger {
      //transform: translateX(0.8rem);

      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg) translateX(0.2rem) translateY(-0.2rem);
        }
        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          background-color: white;
          transform: rotate(-45deg) translateX(0.2rem) translateY(0.2rem);
        }
      }
    }
  }
}
