@import '../../global.scss';

.topbar {
  background-color: white;
  color: $mainColor;
  width: 100%;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;

  .wrapper {
    padding: 1rem 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo:visited,
      .logo:link {
        //margin-right: 4rem;

        color: inherit;
        text-decoration: none;
        font-size: 3.5rem;
        font-weight: 700;
      }

      .logo:hover,
      .logo:active {
        color: red;
        text-decoration: none;
      }

      .itemContainer {
        margin-left: 3rem;
        display: flex;
        align-items: center;

        .icon {
          font-size: 1.8rem;
          margin-right: 0.5rem;
        }

        span {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }

      .itemContainer:last-child {
        margin-right: 0;
      }
    }
  }
}
